spring-debug/src/test/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.learning.org/schema/user"
            elementFormDefault="qualified">
    
    <element name="user">
        <complexType>
            <attribute name="id" type="string"></attribute>
            <attribute name="username" type="string"></attribute>
            <attribute name="password" type="string"></attribute>
            <attribute name="email" type="string"></attribute>
            <attribute name="age" type="integer"></attribute>
        </complexType>
    </element>

    
</schema>


<!--<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema"-->
<!--            targetNamespace="http://www.learning.org/schema/user"-->
<!--            elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">-->

<!--    <xsd:annotation>-->
<!--        <xsd:documentation><![CDATA[-->
<!--            自定义标签-->
<!--		]]></xsd:documentation>-->
<!--    </xsd:annotation>-->

<!--    <xsd:element name="user">-->
<!--        <xsd:complexType>-->
<!--            <xsd:attribute name="id" type="xsd:string"></xsd:attribute>-->
<!--            <xsd:attribute name="username" type="xsd:string"></xsd:attribute>-->
<!--            <xsd:attribute name="password" type="xsd:string"></xsd:attribute>-->
<!--            <xsd:attribute name="email" type="xsd:string"></xsd:attribute>-->
<!--            <xsd:attribute name="age" type="xsd:integer"></xsd:attribute>-->
<!--        </xsd:complexType>-->
<!--    </xsd:element>-->

<!--</xsd:schema>-->
